﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PTicketify</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="~/Scripts/angular/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/main.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
</body>
</html>
